.idea
project/target/*
project/project/target
target/
*.iml
core/.cache
core/.classpath
core/.project
.settings
.classpath
.project
api/.cache
api/.classpath
api/.project
hadoop/.cache
hadoop/.classpath
hadoop/.project
ingest/.project
ingest/flume-service/.cache
ingest/flume-service/.classpath
ingest/flume-service/.project
web/.classpath
web/.project
core/src/main/conf/dap.conf
core/src/main/conf/db.properties
package-lock.json

